/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/* Vertical scrolling of the export preview table. */
.meta-data-view .nav-files-container{ overflow-x: auto }

.meta-data-view .nav-file-title, .meta-data-view .nav-folder-title{
    margin-bottom: var(--size-2-1);
    display: flex;
    border-radius: var(--radius-s);
    cursor: var(--cursor);
    color: var(--nav-item-color);
    font-size: var(--nav-item-size);
    font-weight: var(--nav-item-weight);
    line-height: var(--line-height-tight);
}


.meta-data-view .nav-folder-collapse-indicator { width: 16px; flex-shrink: 0; }

.meta-data-view .collapse-icon { display: flex; align-items: center; }

.meta-data-view .nav-folder-title-content {
    display: inline-block;
    overflow-wrap: anywhere;
    overflow: hidden;
    white-space: var(--nav-item-white-space);
    text-overflow: ellipsis;
}


.meta-data-view .nav-file.has-focus > .nav-file-title {
    border-radius: var(--radius-s);
    box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
}

.meta-data-view .nav-file { border-radius: var(--radius-s); }

/* Horizontal scrolling */
.meta-data-view-table-container{overflow-x: auto;}
.data-view-meta-key { overflow: hidden; text-overflow: ellipsis; max-height: 32px; white-space: nowrap }
.data-view-meta-key.undefined {background: var(--color-base-05)}
tr:hover .data-view-meta-key.undefined {background: var(--text-selection); opacity: 0.1}
.data-view-meta-key.boolean {text-align: center;}
.data-view-meta-key input {vertical-align: middle;}

.meta-data-view .table-sub-header{ background: var(--color-base-10) }
.meta-data-view .table-sub-header .nav-folder-title { padding: 0; line-height: 24px; padding-top: 5px; margin: 0}

.meta-data-view tr.draft{opacity: 0.6;}

.meta-data-view .top-right-button-container{ float: right; }
.meta-data-view .top-right-button-container button{ vertical-align: top; margin-left: 10px; }

.meta-data-view .log{
    font-family: monospace; margin-top: 20px; margin-bottom: 20px;
    white-space: pre-wrap;
    user-select: text;
    line-height: 1.5em;
}
.meta-data-view .clear-log-button{ float: right; }

.meta-data-view .export-stats{ display: none; padding-left: 20px; }
.meta-data-view .clickable-link {display: block}
.meta-data-view .pull-in{ padding-left: 20px; }
.meta-data-view .error{ color: var(--color-red) }
.meta-data-view .export-stats.export-stats-open{ display: block; color: var(--color-base-100) }
.meta-data-view .clickable {cursor: pointer}
.meta-data-view .clickable:hover {color: var(--color-base-70)}
.meta-data-view .closed{ height: 0; overflow: hidden;}
.meta-data-view .table-view-table .metadata{ display: flex; color: #999; padding-left: 10px; }
.meta-data-view .table-view-table .metadata .metadata-draft{ color: var(--color-orange); }
.meta-data-view .table-view-table .metadata .metadata-published{ color: var(--color-green); }
.meta-data-view .meta-data-table-file-row:hover td { background: #0005 }
.meta-data-view .meta-data-table-file-row td.reveal-link { width: 32px; padding-left: 5px; background-color: transparent; }
.meta-data-view .meta-data-table-file-row .reveal-link svg{ visibility: hidden; cursor: pointer;}
.meta-data-view .meta-data-table-file-row:hover .reveal-link svg{ visibility: visible;}

.meta-data-view button[disabled]{ opacity: 0.6; }

.meta-data-header-selector-input { width: 100% }
.meta-data-header-selector-scroller > span { display: inline-block; padding: 4px; color: var(--color-base-50); cursor: pointer; }
.meta-data-header-selector-scroller > span:hover { color: var(--color-base-60); }
.meta-data-header-selector-scroller > span.active { color: var(--color-base-70) }

/* .meta-data-view .path-folder{ padding-left: 20px; display: block; } */

.export-plugin-icon{ display: inline-block; margin-right: 4px; }
.export-plugin-icon.green{ color: var(--color-green) }
.export-plugin-icon.orange{ color: var(--color-orange) }
.export-plugin-icon.lime{ color: lime }
.export-plugin-icon.grey{ color: grey }
.rotate-180 { transform: rotateX(180deg); }
.spin { animation: rotation 2s infinite linear; }
@keyframes rotation {
    from { transform: rotate(0deg);}
    to { transform: rotate(359deg);}
  }